a#admin-link {
	color: #fcdb49;
}

a#admin-link:hover {
	color: #e0e268;
}

a#logout {
	float: right;
}

a#logout:hover {
	color: #f46242;
}

.post {
    background-color: #e6e9ef;
	margin: 10px 2px;
	padding: 2px 0px;
	width: 100%;
}

.post-header {
	margin: 5px 10px;
}

.post-picture-img {
	border: 1px solid gray;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.post-content {
	background-color: #f9fcfc;
	padding: 5px;
	border-radius: 7%;
	margin: 5px 10px;
	border: 1px solid lightgray;
}

.post-date {
	padding: 5px;
	border-radius: 15%;
	margin: 5px 10px;
	background-color: #f9fcfc;
	display: inline-block;
	border: 1px solid lightgray;
}

.delete-post-form {
	background-color: #f9ede0;
	text-align: left;
	margin: 10px;
	padding: 5px;
}

.edit-post-form {
	background-color: #edfcde;
	text-align: left;
	margin: 10px;
	padding: 5px;
}

