{% extends 'frontend/base.html' %}

{% block content %}
	<input type="hidden" id="userId" value="{{ request.user.pk }}"/>
	<div class="row">
		<div id="index" class="col-sm-8">
		
		<!-- React -->
		</div>
		
		<div id="sidebar-wrapper" class="col-sm-4">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="/about">
						<picture>
							<img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Panther_Paw.svg/628px-Panther_Paw.svg.png"/>
						</picture>
					</a>
				</li>
				<li>
					<a href="/new/post">New Post</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

	
	
