{% extends 'frontend/base.html' %}

{% block content %}
	<input type="hidden" id="userId" value="{{ request.user.pk }}"/>
	<div class="row">
		<div id="index" class="col-sm-8">
		
		<!-- React -->
		</div>
		
		<div id="sidebar-wrapper" class="col-sm-4">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">
						Brand
					</a>
				</li>
				<li>
					<a href="#">Link 1</a>
				</li>
				<li>
					<a href="#">Link 2</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

	
	
